python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 5 -t 1 -w 64 -c 0.05 -g 1 -a 0.0 -z 0.1 -T 4 --make no
python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 5 -t 4 -w 64 -c 0.05 -g 1 -a 0.0 -z 0.1 -T 1 --make no

python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 5 -t 4 -w 64 -c 0.05 -g 1 -a 0.0 -z 0.1 -T 8 --make no
python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 5 -t 8 -w 64 -c 0.05 -g 1 -a 0.0 -z 0.1 -T 4 --make no

python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 5 -t 1 -w 64 -c 0.05 -g 1 -a 0.0 -z 0.1 -T 8 --make no
python main_wrapper.py -b 11 -m 01000100 -v 0 -r 96 -d 5 -t 8 -w 64 -c 0.05 -g 1 -a 0.0 -z 0.1 -T 1 --make no
