{% extends 'base.html' %}

{% block bgcclr  %}
background-color: {{ user.template.colour }};
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="jumbostron">
<h1>Username : {{ user.get_username }} </h1>
<h1>Name : {{ user.get_full_name }} </h1>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

</div>
{% endblock %}

{% block left %}
<li ><a href="/accounts/profile">profile <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts">home <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/posts">all posts <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/edit_profile">edit profile <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/edit_deeper_profile">edit deeper profile <span class="sr-only">(current)</span></a></li>

<li ><a href="/accounts/post_new">post new <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/template">template <span class="sr-only">(current)</span></a></li>


{% endblock %} 

 {% block right %} 
  <li ><a href="/accounts/logout">logout <span class="sr-only">(current)</span></a></li>
 {% endblock %}
