{% extends 'base.html' %}

{% block bgcclr  %}
background-color: {{ user.template.colour }};
{% endblock %}

{% block body %}
<div>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit">Submit</button>
</form>
</div>

{% endblock %}

{% block left %}
<li ><a href="/accounts/profile">profile <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts">home <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/posts">all posts <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/edit_profile">edit profile <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/edit_deeper_profile">edit deeper profile <span class="sr-only">(current)</span></a></li>

<li ><a href="/accounts/post_new">post new <span class="sr-only">(current)</span></a></li>
<li ><a href="/accounts/template">template <span class="sr-only">(current)</span></a></li>


{% endblock %} 

 {% block right %} 
  <li ><a href="/accounts/logout">logout <span class="sr-only">(current)</span></a></li>
 {% endblock %}
