
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% block head %}
	<title></title>
{% endblock %}
<style>
/*
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/
body{
{% block bgcclr  %}
{% endblock %}
}
</style>
</head>
<body>
{% block navbar %}
<br>
<div class="container">

      
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SocialiZing</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
			{% block left %}

			{% endblock %} 
			 </ul>
            <ul class="nav navbar-nav navbar-right">
              {% block right %} 
              <li ><a href="/accounts/register">Register <span class="sr-only">(current)</span></a></li>
              {% endblock %}
              
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      
    </div> <!-- /container -->
{% endblock %}

{% block body %}
{% endblock %}
</body>
</html>